.list-custom li{list-style: none !important;}
.list-custom h4{color:blue}
.full-width{width:100%}
span.required{color:red}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

#formFindGiaSu input.error,
#formFindGiaSu select.error
{
    border: 1px solid red;
    box-shadow: 0px 0px 2px 0px red;
}

.top-nav ul li a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  /*color: blue;*/
  padding: 0 10px;
  font-size: 15px;
}

.top-nav ul li:hover > a,
.top-nav ul:hover > a,
.top-nav ul li.current-menu-item a {
    /*color: #4169E1;*/
    font-size: 15px;
}

.top-nav ul li {
    background: #8ec71b none repeat scroll 0 0;
    border-right: 1px solid #0095d0;
}

.cat-box-title h2 {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    padding: 2px 10px 0;
}
.block-head h3, #respond h3{
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    padding: 2px 10px 0;
    color: #f88c00;
}
.widget-top h4 {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    color: #f88c00;
    margin-right: 10px;
    padding: 2px 10px;
}

.block-head,
.cat-box-title {
    background: #8ec71b none repeat scroll 0 0;
    overflow: hidden;
    padding: 0;
}
.stripe-line {
    margin-top: 10px;
}

#sidebar .stripe-line {
    margin-top: 9px;
}

.widget-top {
    background: #8ec71b none repeat scroll 0 0;
    bottom: -4px;
    padding: 6px 0;
    position: relative;
}

.pagination a, .pagination span.extend, .pagination span.current {
    color: #fff;
}

#sidebar .widget-top {
    background: #8ec71b none repeat scroll 0 0;
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0 0 4px;
}

.cat-box-title h2 a {
    color: #f88c00;
}

.pagination .pages {
    color: #fff;
}

.breaking-news span.breaking-news-title {
    padding: 4px 10px 0;
}
#crumbs span,
#crumbs a{color:#fff}

.comment-respond .stripe-line{}

.ghi_chu {
    color: #555;
    display: block;
    font-size: 9px;
    margin-bottom: -5px;
    margin-top: -8px;
    line-height: 15px;
}

body{
	background:#dcdcdc !important; 
}
.cat-box {
    margin-bottom: 20px;
}
.widget {
    clear: both;
    margin-bottom: 15px;
}
.recent-box-pagination {
    margin: 0px 0 35px;
    position: relative;
}
#related_posts, #author-box {
    margin-top: 20px;
}

.list-custom img {
    height: 250px;
    max-width: 200px;
}

.list-gia-su table tr td:last-child{position:relative}
.list-gia-su .more-link{
    bottom: 15px;
    position: absolute;
}
.list-gia-su h4{margin-top: 15px}
.list-gia-su a{color:blue}


.ctn-detail-gs{display: inline-block; margin-bottom: 20px; width: 100%;}
div.img-gs{float:left}
div.img-gs img{
    border: 1px solid #ddd;
    height: 250px;
    max-width: 200px;
    padding: 3px;
}
div.detail-gs {
    float: left;
    margin-left: 20px;
    width: 60%;
}
div.detail-gs h4{margin-top:10px}
.ctn-detail-gs .more-info{float:left; width:100%; margin-top:20px}
.footer-bottom .social-icons{float:left !important; margin-left:0px}
.copyright{float:left; clear:both}
.footer-right{width:60%}
.footer-right .footer1{float:left}
.footer-right .footer2{float:right}
@media only screen and (max-width: 500px){
	.footer-right{width:100%}
	.footer-right .footer1{width:100%}
	.footer-right .footer2{
		margin-bottom: 20px;
		margin-top: 20px;
		width: 100%;
	}
	.copyright{width:100%}
}


































